
body{
 font-family: 'Righteous', cursive !important;
background-color: black;
}
.navbar-header{

    margin: 7.5px -15px;
   
}
.navbar-header h1{
display: inline-block;

}
.navbar-nav{
margin: 11px -15px;;
}
a{
color:#9d9d9d ;
    
}
a:hover
{
    text-decoration: none;
color:white !important;
}

.myIcon{
color: darkorange;
}
.content i{
margin-top: 10px;
}
#star{
border-radius: 20%;
    width: 50px;
}

.fill-screen{
background-size:cover;
background-repeat: no-repeat;
    background-position:top;
    background-attachment: fixed;
}
.down-button{
text-align: center;
    position:relative;
    
    
}
.title-row .down-button{
    top:7%;
}
.down-button i{
    color: darkorange;
}
.navegator{
    position: relative;
top: calc(650px - 35%)
}

.row{
text-align: center;
}

.activity-element{

    float:none;
    margin: 0 auto;
    

}
.content{
    background-color: #242323;
color: darkorange;
    width: 
    


}
.content > div{
  box-shadow: 0 0 30px darkorange;
    margin: o auto;
    
}
.myBackgound{



}
.bordfun{
-webkit-transition: 0.5s;
transition: 0.5s;
    text-align: center;

}
.active a {
background-color: darkorange !important;
    box-shadow: 0 0 30px darkorange;

}
#studies{
    width: 100%;
    padding-bottom: 20px;
    

}
#tabs{
color:  darkorange;
   
    background:#242323;
    box-shadow: 0 0 10px brown;
    border-color:brown;
    
}
#tabs .ui-tabs-active{
background-color: darkorange ;
    box-shadow: 0 0 30px darkorange;
    
    
}
*:focus {
    outline: none !important;
}
#tabs .ui-tabs-active a{
color: white;
}
#tabs ul{
  background:#242323;
   border-style: none;
    text-align: center;
  
    display: inline-block;
}
#tabs li{
    
    text-align: center;
  display: inline-block;
border-style: none;
background: none;
}
#tabs a{
    margin: 0 auto;
color:#9d9d9d;
}
#tabs p{
color:  darkorange;
}
#tabs div{

}
.accordion{
color:  darkorange;
    
}
.sectionBox{
text-align: left;
    background:#242323;
    color: darkorange;
    border-color:brown;
    box-shadow: 0 0 10px brown;
}

.sectionBox h3{
width: calc(100% - 110px);
font-size: 13px;
display: inline-block;
     

}
.sectionBox h3:nth-of-type(2){
width: 100px;
}

.ui-accordion-content{
background:#242323;
    color: darkorange;
    border-style: none;
}


.col-md-4{
display: inline-block;
    vertical-align: top;
    width: 30%;
    margin: 0 10px;
    margin-bottom: 20px;
    padding: 0;
    box-shadow: 0 0 10px brown;

}
.col-md-4 img{
width: 100%
}
.text-banner p{
padding: 0 10%;
}


@media (max-width: 967px){
    
    .navbar-header h1{
font-size: 0em;
    }
    .col-md-4{
    display: block;
        width: 100%;
    }
}
@media (max-width: 767px){
    
    .navbar-header h1{
font-size: 2.5em;

}
    .nav .bordfun{
        margin: 0 auto;
    width: 150px;
    }
    
}
.container-fluid{
box-shadow: 0 0 30px darkorange;
}
.container-fluid p{
margin-top: 20px;

}